{% extends "layout.html" %}

{% block css %}
<!-- Material Design Lite -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock%}

{% block content%}
<div class="content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.0-9/51536755_2213616462039370_6626301528820940800_n.jpg?_nc_cat=105&_nc_ht=scontent.fmex16-1.fna&oh=a5627e0bc81bdbaed014b3a2b131827d&oe=5CE1F056"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.0-9/49773400_2174984102569273_6137036334977515520_n.jpg?_nc_cat=109&_nc_ht=scontent.fmex16-1.fna&oh=d6ff7cbbe489846449392206e3c0077f&oe=5CFC66C3"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.0-9/49474864_2152537991480551_4205313744936370176_n.jpg?_nc_cat=111&_nc_ht=scontent.fmex16-1.fna&oh=9c2bbb3ec2172ee1798efa8c75ed113e&oe=5CF64159"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.0-9/46494703_2094278250639859_3654573906796216320_n.jpg?_nc_cat=105&_nc_ht=scontent.fmex16-1.fna&oh=c482e6253b66a09c243596fb98a85965&oe=5CDCBCC8"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.0-9/51536755_2213616462039370_6626301528820940800_n.jpg?_nc_cat=105&_nc_ht=scontent.fmex16-1.fna&oh=a5627e0bc81bdbaed014b3a2b131827d&oe=5CE1F056"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.0-9/49474864_2152537991480551_4205313744936370176_n.jpg?_nc_cat=111&_nc_ht=scontent.fmex16-1.fna&oh=9c2bbb3ec2172ee1798efa8c75ed113e&oe=5CF64159"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.0-9/51536755_2213616462039370_6626301528820940800_n.jpg?_nc_cat=105&_nc_ht=scontent.fmex16-1.fna&oh=a5627e0bc81bdbaed014b3a2b131827d&oe=5CE1F056"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
{% endblock%}